.locations {
    margin: 16px 16px 16px 16px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mat-column-select {
    overflow: visible;
}

agm-map {
    height: 300px;
}

.table-action {
    margin-right: 16px;
}