<!--<div class="container">-->
    <!--<div class="card">-->
        <!--<div class="card-header">-->
            <!--Firebase Cloud Storage & Angular 5-->
        <!--</div>-->
        <!--<div class="card-body">-->
            <!--<h5 class="card-title">Select a file for upload:</h5>-->
            <!--<input type="file" (change)="upload($event)" accept=".png,.jpg" />-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<mat-progress-bar mode="determinate" [value]="(uploadProgress | async)"></mat-progress-bar>-->

<!--&lt;!&ndash;<div class="progress">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">-->
    <!--File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>-->
<!--</div>-->

<!--{{downloadURL | async}}-->


<page-simple-header [description]="'Объекты карты'"></page-simple-header>

<div fxLayout="row" fxLayoutAlign="end center" class="table-action">
    <button mat-icon-button [disabled]="selection.selected.length > 1 || selection.selected.length == 0 "
            (click)="deleteObject()">
        <mat-icon>delete_sweep</mat-icon>
    </button>
    <button mat-icon-button [disabled]="selection.selected.length > 1 || selection.selected.length == 0 "
            (click)="editObject()">
        <mat-icon>create</mat-icon>
    </button>
    <button mat-icon-button routerLink="/object-list/add">
        <mat-icon>add</mat-icon>
    </button>
</div>

<mat-table #table [dataSource]="dataSource" class="locations">

    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Название</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Тип</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{getLocationType(element.fk_typeid)}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="coordinate">
        <mat-header-cell *matHeaderCellDef>
            Координаты
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button *ngIf="element.location != null || element.latitude" mat-icon-button>
                <mat-icon (click)="setLocationOnMap(element)">explore</mat-icon>
            </button>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             (click)="selection.toggle(row)">
    </mat-row>
</mat-table>

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="10">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
