<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxFlex="50">
        <mat-card-header>Login</mat-card-header>
        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field fxFlex class="example-full-width">
                    <input matInput placeholder="Email" [(ngModel)]="loginData.email">
                </mat-form-field>
                <mat-form-field fxFlex class="example-full-width">
                    <input matInput placeholder="Password" [(ngModel)]="loginData.password" type="password">
                </mat-form-field>
                <button mat-raised-button (click)="login()">Login</button>
            </div>
        </mat-card-content>
    </mat-card>
    {{envUrl}}
</div>


